/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************
        Css Begin
*************************/
/* Add font-family */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(fonts/Montserrat-Bold.ttf);
}

/* Set Original Style */
body {
    margin: 0 auto;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    height: auto;
}

/* Adjust Main Logo style
Use flex and Margin to Put Logo at the Top Left Corner  */
.logo-main {
    display: flex;
    width:114.73px;
    height:81.05px;
    margin-left: 10%;
    margin-top: 1%;
    justify-content: flex-start;  
}

/* Add and Style Background Image */
.scooter {
    background-image: url('./images/bg-image/scooter.svg');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: auto auto;
    padding:100px;
    margin: 0 auto;
}

/* Style the Main Heading Class */
.main-heading {
    padding: 10%;
    padding-bottom: 0;   
}

/* Style h1, Set Font-family, Font-size, Margin and Padding */
h1 {
    margin: 0 auto;
    font-size: 60px;
    font-family: 'Montserrat-Bold'; 
    padding-right: 10%;
    padding-bottom: 0;
    padding-left: 5%;
}

/* Style Second Heading Class, Add padding */
.second-heading {
    padding: 5%;
}

/* Style h3 in Second Heading */
.second-heading h3 {
    margin: 10%;
    margin-top: 0;
    font-family: 'Montserrat-Regular';
    font-weight: normal;
    font-size: 24px; 
}

/* Style Apply Form */
.form-detail {
    padding-top: 5%;
    margin: 15px auto;
    width: 90%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 5%;
    box-shadow: 5px 10px 15px rgba(51, 49, 49, 0.4);
}

/* Style h2 in Apply Form */
.form-detail h2 {
    margin-left: 7%;
    font-size: 40px;
    margin-bottom: 3%;
}

/* Style Content in Apply Form */
.form-detail p {
    margin-left: 7%;
    font-size: 16px;
}

/* Hide the Content for Desktop */
.form-detail .subtitle-desktop {
    display: none;
}

/* Set Apply Form's Position in the Page */
.form {
    max-width: 80%; 
    margin: 0 auto;
}

/* Set Apply Form's Input Position and Font Size */
.form-input {
    margin-left: 6%;
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 16px;
}

/* Style All Input */
input {
    width: 90%;
    margin: 1%;
    height: 40px;
    border-radius: 10px;
    background-color: #F4F4F5;
    border: none;
}

/* Add Margin to Checkbox in Apply Form */
.form-checkbox {
    margin: 2%;
}

/* Style Checkbox in Apply Form */
#agreement {
    height: 20px;
    width: 20px;
    margin-left: 6%;
}

.agreement {
    font-size: 16px;
}

/* Style Button in Apply Form */
button:nth-child(1) {
    font-size: 24px;
    width: 85%;
    margin-left: 6%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    border-radius: 8px;
    padding: 5px;
    background-color: #57EEAB;
    border: none;
    font-family: 'Montserrat-Bold';
}

/* Style Information Content in the Apply Form */
.info {
    margin-left: 2%;
    margin-right: 8%;
    margin-bottom: 10%;
    margin-top: 2%;
    padding-bottom: 6%;
}

/* Change Font Color of Informaion Content in the Apply Form */
.info-detail {
    color: red;
    text-decoration: none;
}

/* Change Font Size of Content of Class info */
.form-detail .info p {
    font-size: 14px;
}

/* Style the Heading in the Question Form at Footer */
.question-heading {
    font-size: 18px;
    font-family: 'Montserrat-Bold';
    margin: 1%;
}

/* Style h4 */
h4 {
    font-weight: normal;
    font-size: 16px;
    margin: 1%;
}

/* Change Background Color of Footer */
.footer {
    background-color: #FFFD8C;
}

/* Style Form at Footer */
.form-footer {
    padding:5%;
    margin: 10%;
}

/* Style Hour Input of Question Form at Footer */
.hour {
    width: 30%;
    margin-right: 0;
}

/* Style City Input of Question Form at Footer */
.city {
    width: 60%;
    margin-left: 0;
}

/* Change the Font Size of Input Content at Footer */
.question-input {
    font-family: 'Montserrat-Medium';
}

/* Style the Calculate Button at Footer */
.calculate {
    width: 95%;
    margin: 1%;
    height: 40px;
    border-radius: 12px;
    background-color: #FF8480;
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border: none;
}

/* Set Icons Position at Footer */
.icons-group {
    margin-top: 5%;
    padding-right: 6%;    
}

/* Add Left Margin to Icons at Footer */
.icons {
    margin-left: 10%;  
}

/*************************
        Tablet Style
*************************/
@media screen and (min-width:768px) {
    /* Add Left Margin to Main Logo */
    .logo-main {
        margin-left: 13%;
    }

    /* Style the Main Heading */
    .main-heading {
        padding: 10%;
        padding-bottom: 0;
        padding-top: 0;
    }

    /* Add Left Padding to h1 to Modify the Position */
    h1 {
        padding-left: 5%;
    }

    /* Add Padding to Scooter Image
       Set Top Margin as Negative to Let the Image Shows Under the Heading */
    .scooter {    
        padding:20%;
        margin-top: -15%;
    }

    /* Style the Apply Form */
    .form {
        max-width: 80%; 
        margin: 0 auto;
    }

    /* Hide the Content for Mobile */
    .form-detail .subtitle-mobile {
        display: none;
    }
    
    /* Show the Content for Tablet and Desktop */
    .form-detail .subtitle-desktop {
        display: block;
    }

    /* Style the Question Form' Hours Input at Footer */
    .hour {
        width: 20%;
        margin: 0;
    }

    /* Style the Question Form' City Input at Footer */
    .city {
        width: 45%;
        margin: 0;
    }

    /* Style the Calculate Button at Footer */
    .calculate {
        width: 30%;
        margin: 0;
        margin-top: 3px;    
    }

    /* Set Left Marign to Icons at Footer */
    .icons-group {
        margin-left: 10%;
    }

    /* Add Margin to Icons at Footer */
    .icons {
        margin-left: 13%;
        margin-right: 0.1%;
    }
}

/*************************
        DeskTop Style
*************************/
@media screen and (min-width:1024px) {
    /* Add Left Margin to Main Logo */
    .logo-main {
        margin-left: 9%;
    }

    /* Adjust Left Padding to h1 to Modify the Position */
    h1 {
        padding-right: 10%;
    }
    
    /* Adjust Second Heading for Desktop Version */
    .second-heading {
        margin-top: 1%;
    }

    .second-heading h3{
        padding-top: 2%;
    }

    /* Adjust the Size of Apply Form */
    .form {
        width: 400%;    
    }
    
    /* Use Grid to Create a 3 Columns * 1 Row Grid 
       Set Scooter Image as Background Image */
    .main-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5%;
        background-image: url('./images/bg-image/scooter.svg');
        background-repeat: no-repeat;
        background-position: center ;
        background-size: auto auto;
    }

    /* Adjust Position of Scooter Image */
    .scooter {
        padding: 0;
    }

    /* Adjust All Input Style */
    input {
        width: 90%;
        margin: 1%;
        height: 40px;
        border-radius: 10px;
    }

    /* Hide the Content for Mobile */
    .form-detail .subtitle-mobile {
        display: none;
    }

    /* Show the Content for Desktop */
    .form-detail .subtitle-desktop {
        display: block;
    }

    /* Adjust Button in Apply Form, Chage the Font Size */
    button:nth-child(1) {
        font-size: 35px;
        width: 90%;   
    }
    
    /* Adjust Apply Form */
    .form-detail {
        width: 100%;
    }

    /* Style the Footer
       Use Grid to Create a 2 Columns * 1 Row Grid */
    .form-footer {
        display: grid;
        grid-auto-columns: 1fr 1fr;
        padding: 1%;
        margin-left: 5%;
    }
    
    /* Use Grid to Put the Question Form in the Footer to the Left Column */
    .questionform {
        grid-column: 1/2;
        margin-left: 5%;
    }
    
    /* Use Grid to Put the Icons in the Footer to the right Column */
    .icons-group {
        grid-column: 2/3;
        padding-bottom: 5%;
        margin-top: 5%;
    }

    /* Style the Calculate Button at Footer */
    .calculate {
        width: 20%;
        font-size: 15px;
    }
    
    /* Style the Question Form' City Input at Footer */
    .city {
        width: 30%;
        margin: 0;
    }

    /* Style the Question Form' Hours Input at Footer */
    .hour {
        width: 10%;
    }

    /* Use Flex to Make all Icons at Footer Display in Row
       Add Margin and Padding */
    .icons-group {
        display: flex;
        flex-direction: row;
        margin-left: 50%;
        padding-left: 30%;
    }
    
    /* Use Order Make Facebook Icon at the Third Position of All Icons */
    .icons-group #icons-1 {
        order: 3;   
    }

    /* Use Order Make Instagram Icon at the First Position of All Icons */
    .icons-group #icons-2 {
        order: 1;
    }

    /* Use Order Make Twitter Icon at the Second Position of All Icons */
    .icons-group #icons-3 {
        order: 2;
    }

    /* Use Order Make Linkin Icon at the Last Position of All Icons */
    .icons-group #icons-4 {
        order :4;
    } 

    /* Add Margin to All Icons */
    .icons {
        margin-right: 20%;
    }
}
