/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************
	Custom Sytle CSS Begining
*********************************/

html {
	/* Defult font-size setting */
	font-size: 16px;
  }

body {
	/* Typography Properties */
	font-size: 1.2rem;
	font-family:Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

.content-container{
	/* Adding box for content */
	background-color: rgba(255, 255, 255, 0.5);
	margin:0 auto;
	width: 1000px;
}

img {
	width: 100%;
}

header{
	/* Adding background image for Header */
	background: url("../images/lone-starfish-wide.jpg") no-repeat center center;
	background-size:cover;
	margin: 0 auto;
	padding: 8rem;
}

/* Styling heading 1 */
header h1{
	/* Typography Properties */
	font-size: 4rem;
	color: white;
	font-weight: 550;
	text-align: center;
}

/* Styling heading 2 & heading 3 */
h2{
	/* Typography Properties */
	font-size: 2.5rem;
}

h3{
	/* Typography Properties */
	font-size: 2rem;
}

h2,
h3{
	font-weight: 550;
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

/* Sytling heading 4 */
h4 {
	font-size: 1.5rem;
	padding-top: 1rem;

}

/* Add margin to class main-article, section-facts, and section-contact */
.main-article,
.section-facts,
.section-contact{
	margin-left: 1rem;
	margin-right: 1rem;
}

/* Float image */
.main-paragraph{
	margin: 0 auto;
  }
  img{
	width: 250px;
	height:250px;
	margin-inline-end: 1rem;
	margin-block-end: 1.5rem;
	float: left;
  }

/* Styling Navigation */  
nav li {
    list-style:none;
	/* Remove style of navigation list */
	text-align: center;
	display: inline-block;
	width: 20rem;
  	height: 3rem; 
	margin-top: 0.5rem;   
	margin-bottom: 1rem;
	line-height: 3rem;
	border-right: 1px solid black;        
}
/* Remove the border of the Last list in navigation */  
nav ul li:last-child {
    border: 0;
}       

nav ul a {
	/* Typography Properties */
    color: black;
	text-transform: uppercase;
	font-weight: 500;
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5 x 16px = 24px */
}

nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
  }

.section-facts ul li{
	/* Add disc style for list */
	list-style: disc;
	margin-left: 1rem;
}

.contact-form {
	font-size: 1.5rem;
	border: 1px solid black;
	box-sizing: border-box;
	padding: 1rem;
	padding-top: 1.5rem;
}

.contact-form label {
	line-height: 3rem;
}

/* Changing input box size */
.input-message,
.input-name,
.input-email {
	font-size: 1.5rem;
	width: 930px;
	display: block;
	border: 1px solid black;
	border-radius: 0px;
}

/* Styling the submit button */
.submit {
	font-size: 1.2rem;
	text-transform: uppercase;
	background-color: transparent;
	border:1px solid black;
	border-radius: 0;
	padding: 10px 10px;
	margin-top: 1rem;
}

/* Site-footer styling */
.site-footer{
	text-align:right;
	/* Text-align to the right */
	padding:2rem;
	/* Adjust padding */
}

