body{
    font-family: 'Nunito';
    font-size: 1rem;
    width: 100%;
}

a{
    text-decoration: none;
}
nav ul{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    
    
}

.container{
    margin: 0 auto;
}

nav ul li{
    padding: 10px;
}

.icon-1{
    display: none;
}
.container .siteheader{
    background-color: #C7CFC0;
}

.container footer{
    background-color: #C7CFC0;
}

footer nav ul{
    font-size: 1rem;
}

footer p{
    text-align: center;
    padding: 5px;
}

.icon-2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-2 a{
    padding: 10px;
}
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.img-8,.img-9{
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 10%;
    
}

.img-3,.img-6,.img-9{
    display: none;
}

.img{
    width: 80%;
    height: 80%;
    

    
    
}

h2{
    text-align: center;
    font-size: 3rem;
    padding: 5%;
}

h3{
    text-align: center;
    font-size: 2rem;
    padding: 5%;
}

.container:nth-child(2){
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    width: 100%;
}

p{
    
    
    text-align: center;
}



.des{
    background-color: #ffffff;
    opacity: 50%;
    width: 60%;
    height: 15%;
    position:absolute;
    
    top: 80%; 
    left: 20%
}

.des p{
    padding: 3%;
    font-size: 2rem;
}
button{
    border-radius: 100px;
    padding: 1%;
    background-color: #C7CFC0;

}

.btn{
    text-align: center;
}

.group-3 .btn{
    margin-bottom: 5%;
}

@media screen and (min-width:768px) {
    .siteheader{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        padding: 5%;
        grid-column: 1/2;
    }
    
    .icon-1{
        display: flex;
        grid-column: 2/3;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-right: 20%;
    }
    

    .container:nth-child(2){
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.img-8,.img-9{
        position: relative;
        display: block;
        text-align: center;
        margin-bottom: 10%;
        
    }

    .des{
        background-color: #ffffff;
        opacity: 50%;
        width: 60%;
        height: 15%;
        position:absolute;
        
        top: 60%; 
        left: 20%
    }

    .box p{
        font-size: 1.3rem;
    }

    .nav-2 nav ul{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (min-width:1280px) {
    .container footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footercontact{
        padding: 5%;
    }

    .icon-2{
        padding: 5%;
        font-size: 0.5rem;
    }

    .copyright {
       grid-column: -3/-2;
    }

    .nav-2 nav ul{
        
        padding: 5%;
    }
}





