body{
    font-family: 'Nunito';
    font-size: 1rem;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 5%;   
}

.container{
    margin: 0 auto;
}

nav ul li {
    padding: 10px;
}

.icon-1{
    display: none;
}
.container .siteheader{
    background-color: #C7CFC0;
}

.about{
    padding: 10%;
    margin: 0 auto;
}

.about h2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}
.about p{
    padding: 9%;
    font-size: 1rem;
}
.about .btn{
    text-align: center;
    
    
}
.btn button{
    border-radius: 150px;
    padding: 1%;
    background-color: #C7CFC0;
}
.introduction-1{
    margin: 0 auto;
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr 1fr;
}
.main-content h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 5%;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
      
    padding: 5%;
}

.content img{    
    width: 80%;  
    height: 90%;
}


.content .smallcontainer{
    padding: 5%;
}

.content .smallcontainer h3{
    text-align: center;
}

.content .smallcontainer p{
    text-align: center;
    padding: 4%;
}

.btn-1{
    
    text-align: center;
    padding-bottom: 3%;
    
}

.btn-1 button{
    border-radius: 100px;
    padding: 1%;
    background-color: #C7CFC0;
    
}

.gallery{
    text-align: center;
    display: grid;
    padding: 5%;
   
}

.gallery img{
    width: 100%;
    
    
}

.contact{
    background-color: #EEDFDA;
    
}


.container:nth-child(4) h2{
    font-size: 1.5rem;
    padding: 2%;
    font-weight: bold;
    text-align: center;
}

.container:nth-child(4) button{
    border-radius: 150px;
    padding: 1%;
    background-color: #C7CFC0;
    margin-bottom: 3%;
    

}

.btn{
    text-align: center;
    padding-top: 2%;
}

.contact-b{
    padding: 5%;
}

.contact-a p{
    padding: 5%;
    text-align: center;
}

.contact-b table{
    text-align: center;
    margin: 0 auto;
    
}

.container footer{
    background-color: #C7CFC0;
}

footer nav ul{
    font-size: 1rem;
}

footer p{
    text-align: center;
    padding: 5px;
}

.icon-2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icon-2 a{
    padding: 10px;
}

.container:nth-child(3) button{
    border-radius: 100px;
    padding: 1%;
    background-color: #C7CFC0;
    
    text-align: center;
}

.container:nth-child(3) h2{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 5%;
    padding-top: 5%;
}

.banner img{
    width: 100%;
    
}

.about{
    background-color: #EEDFDA;
    padding: 5%;
}

#bannerpad{
    display: none;
}

td{
    padding: 1%;
}

@media screen and (min-width: 768px){
    .siteheader{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    nav ul{
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        padding: 5%;
        grid-column: 1/2;
    }
    
    .icon-1{
        display: flex;
        grid-column: 2/3;
        text-align: center;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding-right: 20%;
    }

    #mobilebanner{
        display: none;
    }
    #bannerpad{
        display: block;
    }

    .introduction-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .btn-1{
        grid-column: -3/-2;
    }

    .about h2{
        margin: 0;
    }

    .contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .contact-a{
        padding: 5%;
    }

    .nav-2 nav ul{
        display: flex;
        flex-direction: column;
    }

    .container footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footercontact{
        padding: 5%;
    }

    .icon-2{
        padding: 5%;
        font-size: 0.5rem;
    }

    .copyright {
       grid-column: -3/-2;
    }

    .gallery{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            ". . . ."; 
        
    }

    

    .image-1{
        grid-area: img1;
        width: 100%;
        grid-column: 1/3;
        
    }

    .image-1 img{
        width: 100%;
    }

    .image-2{
        grid-area: img2;
        width: 100%;
        
        
    }

    .image-2 img{
       
        width: 100%;
        object-fit: fill;
    }

    .image-3{
        grid-area: img3;
        width: 100%;
    }

    
   

    

    
}

@media screen and (min-width:1280px) {

    body{
        font-size: 1.5rem;
    }
    
    .gallery{
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            ". . . ."; 
        
    }

    

    .image-1{
        grid-area: img1;
        width: 100%;
        grid-column: 1/3;
        
    }

    .image-1 img{
        width: 100%;
    }

    .image-2{
        grid-area: img2;
        width: 100%;
        
        
    }

    .image-2 img{
        
        width: 100%;
        object-fit: fill;
    }

    .image-3{
        grid-area: img3;
        width: 100%;
    }

    .image-3 img{
        
        max-width: 100%;
    }

    

   
}