/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************
	Custom Sytle CSS Begining
*********************************/

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
}

h1,h2,h3 {
    font-weight: bold;
    margin: 1rem 0 0.5rem;
}

h1 {
    font-size: 5.063rem;
}

h2 {
    font-size: 3.375rem;
}

h3 {
    font-size: 2.25rem;
}

p { 
    margin: 1rem 0;
}

.container {
    padding: 1rem;
}

.logo {
    margin: 0px;
    height: auto;
}
.logobackground {
    background-color: #C68D00;
}

/* Main Navigation */
.nav-list {
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    color: #C68D00;
    padding: 1em;
    display: block;
}

.nav-list a:hover {
    background-color: #C68D00;
    color: black;
} 

.nav-list .current {
    background-color: #C68D00;
    color: black;
}

/* Header */
.banner {
    height: 600px;
    background-image:url("../images/main-banner.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.banner .info {
    padding: 1em;
}

.banner h1 {
    padding-top: 100px;
    text-align: left;
    color: white;
}

.banner .btn {
    padding: 20px;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    background-color: #C68D00;
}

footer {
    background-color: black;
    color: #C68D00;
    margin-top: 1.5rem;
    padding: 1rem 1rem;
}

footer a {
    color: inherit;
}

footer a:hover {
    color: white;
}

/*********************************
 Our Service Page CSS 
**********************************/
.card {
    border: 1px solid white;
    margin-bottom: 1em;
}

.card img {
    width: 100%;
}

.card h3 {
    margin-top: 0;
}

.card .info {
    padding: 1em;
}

.card .btn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 20px;
    display: inline-block;
}

.card .btn:hover {
    background-color: #C68D00;
}
/*
.first-section {
    background-image: url(./images/main-banner.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.intro {
    background-color: black;
    opacity: 0.5;
    margin:2rem;
    height: 400px;
    position: absolute;
    top: 0%;   
}

h1,p,button {
    color: white;
    opacity: 1;
}
*/
